h1, h2, h3 {
    font-family: 'Blueberry';
    color:black;
}

h1, h2 {
    background-image: url(images/giraffe-pattern.avif);
    background-repeat: cover;
    color:aliceblue;
    text-shadow: 3px 2px 4px #000000;
    margin-inline-start: 15px;
}

h3 {
    text-shadow: 3px 2px 4px aliceblue;
    text-decoration: underline;
    text-underline-offset: 15px;
    margin-inline-start: 10px;
}

body {
    font-family: 'Creator Credits', Arial, Helvetica, sans-serif;
    font-size: 150%;
}
a {
    color: brown;
}

a:hover {
    color:red
}

a:visited {
    color: purple
}

@font-face {
    font-family: 'Blueberry';
    src: url('fonts/Blueberry.ttf');
}
@font-face {
    font-family: 'Hip Horay';
    src: url('fonts/hip-horay.otf');
}
@font-face {
    font-family: 'Creator Credits';
    src: url('fonts/CreatorCreditsBB.ttf');
}

.footer {
    font-size: 1em;
    color: gray;
}

#menu td {
    font-size: 120%;
    padding: 2px;
    border-style: solid;
    border: 5px solid;
    /* border-image: url("images/rainbow.gif") 100 100 100 100 stretch; */
    border-radius: 10px;
}

#giraffe-gif {
    position: fixed;
    right: 15px;
}

#anakin_skywalker {
    border: 5px solid #665544;
    background-color: green;
    overflow: auto;
    width: 100%;
}

.column1of2, .column2of2{
    width: 30%;
    margin: 1;
}

.column1of2 {
    float: left;
}

.column2of2 {
    float: right;
} 

.menu-entry{
    width: 15%;
    float: left;
    font-size: 130%;
    padding: 2%;
    border-style: solid;
    border: 3% solid;
    border-radius: 10px;
}

img.align-left {
    float: left;
    margin-right: 10px;
    width: 200px;
}

img.align-right {
    float: right;
    margin-right: 10px;
    width: 200px;
}